<% show_post ||= false %>

<div class="row">
  <div class="span0">

    <%= link_to vote_comment_path(comment, vote: true), method: "post", remote: true do %>
      <i class="icon-thumbs-up"></i>
    <% end %>
    <br/>

    <span id="comment_<%= comment.id %>_votes"><%= total_votes(comment) %></span>
    <br/>
    <%= link_to vote_comment_path(comment, vote: false), method: "post", remote: true do %>
      <i class="icon-thumbs-down"></i>
    <% end %>
  </div>

  <div class="span8">
    <em>"<%= comment.body %>"</em>
    <% if show_post %>
      on <%= link_to comment.post.title, post_path(comment.post) %>
    <% end %>
    <br/>
    <span class="quiet">By </span><%= link_to comment.user.username, '' %>
    <span class="quiet"><small>at <%= comment.created_at %></small></span>
  </div>
  <hr/>
</div>
