  <div class="row">
    <div class="span0 well well-small text-center">

      <%= link_to vote_post_path(post, vote: true), method: "post" do %>
        <i class="icon-thumbs-up"></i>
      <% end %>
      <br/>
      <%= total_votes(post) %> votes
      <br/>
      <%= link_to vote_post_path(post, vote: false), method: "post" do %>
        <i class="icon-thumbs-down"></i>
      <% end %>
    </div>

    <div class="span8 well well-small">

      <ul class="inline">
        <li id="title"><%= link_to post.title, post_path(post) %></li>
        <li> <%= link_to "(visit)", post.url %> </li>
        <li class="pull-right">(<%= link_to("#{post.comments.size} comments", post_path(post)) %>)<li>

      </ul>

      <p><%= post.description %></p>
      <ul class='inline'>
      <li>
	  <span class="quiet">Posted by </span> <%= link_to "#{post.creator.username}", user_path(post.creator) %>
	  <span class="quiet"><small>on <%= readable_time(post.created_at) %></small></span>
      </li>
      <li class="pull-right"><%= render post.categories %></li>
      </ul>
    </div>
  </div>
