<% if post.url == "" %>
  <% post_url = "self" %>
<% else %>
  <% post_url = post.url %>
<% end %>

<div class="row">
  <div class="span0">
    <%= link_to vote_post_path(post[:id], vote: true), method: "post", remote:true do %>
      <i class="icon-thumbs-up"></i>
    <% end %>
    <br/>

    <span id="post_<%=post.slug%>_votes"><%= total_votes(post) %></span>

    <br/>
    <%= link_to vote_post_path(post[:id], vote: false), method: "post", remote: true do %>
      <i class="icon-thumbs-down"></i>
    <% end %>
  </div>

  <div>
    <ul class="inline">
      <li id="title"><%= link_to post.title, post_path(post) %></li>
      <% if post.url.length > 40 %>
        <li> <%= link_to "(#{post_url[0..40] + '...'})", post.url %> </li>
      <% else %>
        <li> <%= link_to "(#{post_url})", post.url %> </li>
      <% end %>
      <li class="pull-right">(<%= link_to("#{post.comments.size} comments", post_path(post)) %>)<li>

    </ul>

    <ul class='inline'>
      <li>
	<span class="quiet">Posted by </span> <%= link_to "#{post.creator.username}", user_path(post.creator) %>
	<span class="quiet"><small>on <%= readable_time(post.created_at) %></small></span>
      </li>
      <li class="pull-right"><%= render post.categories %></li>
    </ul>
  </div>
  <hr class="post_sep" />
</div>
