  <div class="row">
    <div class="span0 well text-center">

      <%= link_to "/posts/#{post.id}/vote?vote=true", method: "post", rel: "nofollow" do %>
        <i class="icon-arrow-up"></i>
      <% end %>
      <br/>
      <%= total_votes(post) %> votes
      <br/>
      <%= link_to "/posts/#{post.id}/vote?vote=false", method: "post", rel: "nofollow" do %>
        <i class="icon-arrow-down"></i>
      <% end %>
    </div>

    <div class="span8 well well-small">

      <ul class="inline">
        <li id="title"><%= link_to post.title, post.url %></li>
        <li class="pull-right">
	  <span class="quiet">Posted by </span> <%= link_to "#{post.creator.username}", user_path(post.creator) %>
	  <span class="quiet"><small>on <%= readable_time(post.created_at) %></small></span>
        </li>
      </ul>
      <span class="pull-right">
	<%= link_to("#{post.comments.size} comments", post_path(post)) %>
      </span>

      <p><%= post.description %></p>

      <%= render post.categories %>
    </div>
  </div>
