<% if @post.errors.any? %>
  <div class="row">
    <div class="alert alert-error span8">
      <h5>Oopsie! Your post produced errors.</h5>
      <% @post.errors.full_messages.each do |msg| %>
      <ul>
	<li><%= msg %></li>
      </ul>
      <% end %>
    </div>
  </div>
<% end %>

<%= form_for @post do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :url %>
  <%= f.text_field :url %>
  <div class="well">
    <%= f.label :description %>
    <%= f.text_area :description, rows: 10, class: "span11" %>
  </div>
  <br/>
  <%= f.submit class: "btn btn-primary" %>
<% end %>
