<h4>Create a new Post</h4>

<%= form_for @post do |f| %>
	<%= f.label :title %>
	<%= f.text_field :title %>
	<%= f.label :url %>
	<%= f.text_field :url %>
	<%= f.label :description %>
	<%= f.text_area :description %>
	<br/>
	<%= f.submit "Create Post", class: "btn btn-primary" %>
<% end %>

