<p class="pull-right">
<%= link_to("Edit Post", edit_post_path(@post)) %>
<p>

<p>
  <%= render @post.categories %>
</p>

<%= render 'shared/content_title', title: @post.title %>

<p>
  <%= @post.description %>
</p>

<hr/>

<div class="well">
<%= form_for [@post, @comment] do |f| %>
  <%= render partial: "shared/error", object: @comment %>
  <%= f.label :body, 'Leave a comment (you must be logged in)' %>
  <%= f.text_area :body, rows: 4, class: "span5", disabled: (not logged_in?) %>
  <br/>
  <%= f.submit class: "btn btn-primary", disabled: (not logged_in?) %>
<% end %>
</div>

<%= render 'shared/content_title', title: "Previous comments" %>

<% @post.comments.each do |comment| %>
  <div class="row">
    <div class="span0 well text-center">

      <%= link_to "/vote/comment/#{comment.id}?vote=true", method: "post", rel: "nofollow" do %>
        <i class="icon-arrow-up"></i>
      <% end %>
      <br/>

      <%= comment.votes.count %> votes

      <br/>
      <%= link_to "/vote/comment/#{comment.id}?vote=false", method: "post", rel: "nofollow" do %>
        <i class="icon-arrow-down"></i>
      <% end %>
    </div>

    <div class="well span8">
      <p>
      <%= comment.body %>
      </p>
      <span class="quiet">By </span><%= link_to comment.user.username, '' %>
      <span class="quiet"><small>at <%= comment.created_at %></small></span>
    </div>
  </div>
<% end %>
