<p class="pull-right">
  <%= link_to("Edit Post", edit_post_path(@post)) %>
<p>

<p>
  <%= render @post.categories %>
</p>

<%= render 'shared/content_title', title: @post.title %>

<p>
  <%= @post.description %>
</p>

<hr/>

<div class="well">
<%= form_for [@post, @comment] do |f| %>
  <%= render partial: "shared/error", object: @comment %>
  <%= f.label :body, 'Leave a comment (you must be logged in)' %>
  <%= f.text_area :body, rows: 4, class: "span5", disabled: (not logged_in?) %>
  <br/>
  <%= f.submit class: "btn btn-primary", disabled: (not logged_in?) %>
<% end %>
</div>

<%= render 'shared/content_title', title: "Previous comments" %>

<% @post.comments.each do |comment| %>
  <%= render '/shared/comments', comment: comment %>
<% end %>
