<p class="pull-right">
<%= link_to("Edit Post", edit_post_path(@post)) %>
<p>

<p>
  <%= render @post.categories %>
</p>

<%= render 'shared/content_title', title: @post.title %>

<p>
  <%= @post.description %>
</p>

<hr/>

<div class="well span8">
<%= form_for [@post, @comment] do |f| %>
  <%= render partial: "shared/error", object: @comment %>
  <%= f.label :body, 'Leave a comment (you must be logged in)' %>
  <%= f.text_area :body, rows: 4, class: "span5", disabled: (not logged_in?) %>
  <br/>
  <%= f.submit class: "btn btn-primary", disabled: (not logged_in?) %>
<% end %>
</div>

<div class="span8">
<h4>Previous Comments:</h4>
</div>

<% @post.comments.each do |comment| %>
    <div class="well span8">
      <p>
      <%= comment.body %>
      </p>
      <span class="quiet">By </span><%= link_to comment.user.username, '' %>
      <span class="quiet"><small>at <%= comment.created_at %></small></span>
    </div>
<% end %>
