<%= render "shared/content_title", title: "Add a Category" %>


<% if @category.errors.any? %>
  <div class="row">
    <div class="alert alert-error span8">
      <h5>Oopsie!</h5>
      <% @category.errors.full_messages.each do |msg| %>
      <ul>
	<li><%= msg %></li>
      </ul>
      <% end %>
    </div>
  </div>
<% end %>

<%= form_for @category do |f| %>
  <%= f.label :category %>
  <%= f.text_field :category %>
  <br/>
  <%= f.submit class: "btn btn-primary" %>
<% end %>
