<ul class="nav">
  <li>
    <%= link_to "Postit!", root_path, :class => 'brand' %>
  </li>
</ul>

<ul class='inline'>

  <div class="btn-group nav-item">
    <%= link_to '#', class: 'btn btn-small dropdown-toggle', 'data-toggle' => 'dropdown' do %>
      Categories <span class='caret'></span>
    <% end %>
    <ul class='dropdown-menu'>

      <% Category.all.each do |category| %>
      <li>
	<%= link_to category.category, category_path(category) %>
      </li>
      <% end %>

    <% if logged_in? %>
      <li class='divider'></li>
      <li>
	<%= link_to(new_category_path) do %>
	<i class="icon-plus"></i>
        New Category
	<% end %>
    <% end %>
      </li>
    </ul>
  </div>


  <% if logged_in? %>
    <%= link_to "New Post", new_post_path, class: 'btn btn-small btn-success' %>
    <%= link_to "Log Out", logout_path, class: 'pull-right' %>
  <% else %>
    <%= link_to "Login", login_path, class: 'btn btn-small btn-success' %>
    <%= link_to "Register", register_path, class: 'btn btn-small btn-success' %>
  <% end %>

</ul>
